<!--<app-auth></app-auth>-->
<app-dasboard></app-dasboard>
<app-finance-import-component></app-finance-import-component>
<app-financial-data-form-component></app-financial-data-form-component>
<!--<div style="padding:40px">
  <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
    <input type="text" placeholder="Username" formControlName="username">
  <p class="erreur" *ngIf="username?.invalid && username?.touched && username">champ username invalid</p>
    <input type="password" placeholder="Password" formControlName="password">
     <p class="erreur" *ngIf="password?.invalid && password?.touched && password">champ password invalid</p>

    <button type="submit" [disabled]="loginForm.invalid">Login</button>
  </form>
</div>-->
