<ng-container *ngIf="!isLoginPage(); else loginLayout">

  <app-dasboard
    (toggleChange)="onSidebarToggle($event)">
  </app-dasboard>

  <main class="main-content"
        [class.sidebar-collapsed]="isSidebarCollapsed">
    <router-outlet></router-outlet>
  </main>

</ng-container>

<ng-template #loginLayout>
  <router-outlet></router-outlet>
</ng-template>

<!--<div style="padding:40px">
  <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
    <input type="text" placeholder="Username" formControlName="username">
  <p class="erreur" *ngIf="username?.invalid && username?.touched && username">champ username invalid</p>
    <input type="password" placeholder="Password" formControlName="password">
     <p class="erreur" *ngIf="password?.invalid && password?.touched && password">champ password invalid</p>

    <button type="submit" [disabled]="loginForm.invalid">Login</button>
  </form>
  <app-dasboard></app-dasboard>

</div>-->
